body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

input {

   border:none;
   background: white;
   color:000;
   margin: 10px;
}

button {
  border: none;
}